body{
    font-family: Arial;
    background: linear-gradient(135deg,#667eea,#764ba2);
    color:white;
    text-align:center;
}

.container{
    backdrop-filter: blur(10px);
    background: rgba(255,255,255,0.1);
    padding:20px;
    margin:50px auto;
    width:300px;
    border-radius:20px;
}

button{
    padding:10px;
    border:none;
    border-radius:10px;
    background:#ffcc00;
}
